@import url("vars.css");

.about_background
{
    background: url("../imgs/bg_2.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position-y: 55%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.about-header {
    font-size: 36px;
    padding-top: 160px;
    color: white;
    text-align: center;
}

.about-main {
    padding: 30px 190px 4px 80px
}

.about-how {
    padding: 0px 500px 50px 80px;
    margin-top: -420px;
}

.map-pic {
    border-radius: 30px;
    width: 400px;
    margin-top: 30px;
}

.about-pic {
    display: inline;
    right: 30px;
    padding-left: 730px;
}