@import url("vars.css");

.contact_background
{
    background: url("../imgs/bg_7.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position-y: 45%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.contact-header {
    font-size: 36px;
    padding-top: 160px;
    color: white;
    text-align: center;
}

.contact-main {
    padding: 35px 190px 70px 80px
}

.first-para {
    padding-bottom: 18px;
}

.email, .phone  {
    padding-left: 15px;
}

.address {
    padding-left: 115px;
    display: inline-block;
    margin-top: -40px;
}