@import url("vars.css");

.hiking-trip-background {
    background: url("../imgs/hiking-trip.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0%;
}

