@import url("vars.css");

.home_background
{
    background: url("../imgs/bg_home.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-position-y: 55%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0%;
}

main {
    padding-top: 0px;
}

.home_content {
    padding-left: 20px;
    color: white;
    padding-bottom: 120px;
}

.main_header > b {
    font-size: 50px;
}

.main_header {
    font-size: 30px;
    padding-top: 160px;
}

.second_header {
    font-size: 18px;
    padding-top: 50px;
}

section {
}

.trip_form {
    display: inline-block;
    background: #fbfbfb;
    padding: 35px 65px;
    padding-bottom: 50px;
    transition: width .25s,right .25s,height .25s,margin .25s;
    box-shadow: 0 20px 22px 0 rgba(0,0,0,0.12);
    border: solid 1px #f5f5f5;
    margin-left: 800px;
    margin-bottom: 300px;
    margin-top: -450px;
    border-radius: 12px;
    margin-right: 80px;
    position: absolute;
    z-index: 1;
}

.form-header {
    font-weight: bold;
    margin-bottom: -2px;
    text-align: center;
}

.destination_input {
    padding: 7px 20px;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(203, 204, 188, 0.76);
    border-radius: 4px;
    text-align: start;
    font-size: 14px;
    font-family: inherit;
    width: 100%;
    outline: none;
}

.destination_input:focus {
    border: 2px solid var(--main-buttons-background);
}

.start_date_input {
    margin-bottom: 10px;
    width: 50%;
    outline: none;
    border: 2px solid rgba(203, 204, 188, 0.76);
    border-radius: 4px;
    font-family: inherit;
    padding: 7px;
}

.start_date_input:focus {
    border: 2px solid var(--main-buttons-background);
}


.end_date_input {
    margin-bottom: 15px;
    width: 50%;
    outline: none;
    border: 2px solid rgba(203, 204, 188, 0.76);
    border-radius: 4px;
    font-family: inherit;
    padding: 7px;
}

.end_date_input:focus {
    border: 2px solid var(--main-buttons-background);
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

.form-but {
    font-size: 16px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--main-buttons-background);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
}

.form-but:hover {
    background: var(--main-buttons-hover);
}

.how-to {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.how-to-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
}

.first-how-to {
    margin-right: 50%;
    font-size: 14px;
    display: inline-block;
}

.how-to-head {
    font-size: 18px;
    font-weight: bold;
}

.first-how-to-arrow {
    margin-right: 23%;
    display: block;
    margin-top: -110px;

}

.second-how-to {
    margin-right: 2%;
    font-size: 14px;
    display: inline-block;
    margin-top: -118px;
}

.second-how-to-arrow {
    margin-left: 23%;
    display: block;
    margin-top: -110px;
}

.third-how-to {
    margin-left: 47%;
    font-size: 14px;
    display: inline-block;
    margin-top: -130px;
}


.popular-dest {
    margin-top: 50px;
    background: #f2f2f2;
    background-size: cover;
    txet-align: center;
    width: 100%;
    padding-bottom: 50px;
}

.popular-dest-header {
    margin-top: 50px;
    color: black;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}

.dest-img {
    width: 280px;
    max-width: 100%;
    z-index: 1;
}

.dest-title {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    position: relative;
    left: 28px;
    bottom: 67px;
    z-index: 10;
    width: 43%;

}

.dest1 {
    margin-bottom: 26px;
    margin-left: 40px;
    width: fit-content;

}

.dest2 {
    margin-top: -273px;
    margin-left: 340px;
    width: fit-content;
}

.dest3 {
    margin-top: -248px;
    margin-left: 645px;
    width: fit-content;
}

.dest4 {
    margin-top: -248px;
    margin-left: 950px;
    width: fit-content;
}

.dest5 {
    margin-bottom: 10px;
    margin-left: 40px;
    width: fit-content;
}

.dest6 {
    margin-top: -258px;
    margin-left: 340px;
    width: fit-content;
}

.dest7 {
    margin-top: -248px;
    margin-left: 645px;
    width: fit-content;
}

.dest8 {
    margin-top: -248px;
    margin-left: 950px;
    width: fit-content;
}

