@import url("vars.css");

body {
    background: #FFFFFF;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 100%;
    margin: 0%;
    overflow-x: hidden;
}

img.logo_image {
    height: 60px;
}

.main_nav_list {
    background-color: rgba(255, 255, 255, 0.95);
    list-style-type: none;
    padding-left: 0px;
    position: fixed;
    width: 100%;
    text-align: left;
    align-items: center;
    z-index: 100;
}

.main_nav_item-user{
    display: inline-block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-top: 25px;
    color:darkorange;
}

.main_nav_item_logo {
    display: inline-block;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    align-items: center;
    float: left;
}

.main_nav_item {
    display: inline-block;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    margin-top: 25px;
}

.main_nav_item a {
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.main_nav_item.active a, .main_nav_item-Equipment.active a,
.main_nav_item a:hover, .dropbtn:hover, .equipment-dropdown-item:hover, .but_login:hover, .but_login:focus {
    color: #9c9c9c;
}


.equipment-dropdown {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(255, 255, 255, 0.95);

}

.equipment-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.equipment-dropdown a:hover {
    background-color: rgba(255, 255, 255, 0.95);
}

.main_nav_item-Equipment:hover .equipment-dropdown {
    display: block;
}

li.main_nav_item-Equipment {
    display: inline-block;
}

.dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 26px 14px 16px;
    text-decoration: none;
}

.main_nav_item-Equipment{
    float: left;
}


li.main_nav_item.plan, li.main_nav_item.login {
    float: right;
    margin-top: 25px;
}

li.main_nav_item.login {
    margin-left: -1%;
}

i.login-icon{
    font-size: 32px;
}

.but_login {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.login-form {
    display: none;
    background: white;
    width: 25%;
    padding: 10px 0px 20px 0px;
    border-radius: 20px;
    float: right;
    margin-top: 80px;
    z-index: 10000;
    position: fixed;
    margin-left: 75%;
    box-shadow: 0 20px 22px 0 rgba(0,0,0,0.12);
}

.email-container-login, .password-container-login {
    margin-left: 20%;
}

.password-container-login {
    margin-top: 5px;
}

.email-login, .password-login {
    padding: 7px 10px;
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    border: 2px solid rgba(203, 204, 188, 0.76);
    border-radius: 4px;
    text-align: start;
    font-size: 14px;
    font-family: inherit;
    outline: none;
}

.email-login:focus, .password-login:focus {
    border: 2px solid var(--main-buttons-background);
}

.login-but {
    font-size: 16px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--main-buttons-background);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 36%;
}

.but_plan:hover, .login-but:hover {
    background: var(--main-buttons-hover);
}

.login-sent {
    text-align: center;
    font-size: 14px;
    padding-top: 10px;
}

.here-link {
    font-weight: bolder;
    text-decoration: none;
    color: #9c9c9c;

}

.here-link:hover {
    color: black;
}


.but_plan {
    font-size: 16px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background: var(--main-buttons-background);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
}


main {
    padding-top: 100px;
}

.home_content {
    padding-top: 50px;
    padding-left: 20px;
    color: white;
}

.main_header > b {
    font-size: 50px;
}

.main_header {
    font-size: 30px;
}

.second_header {
    font-size: 20px;
}

footer {
    text-align: center;
    padding: 75px;
    background-color: var(--main-footer-background);
    background-size: cover;
    color: #d7d7d7;
}

.list-footer{
    list-style-type: none;
}

.col1, .col2, .col3 {
    text-align: left;
    position: relative;
    min-height: 1px;
    float: left;
    width: 20%;
}

.col1 {
    padding-left: 170px;
    margin-left: -10px;
}

.col2{
    margin-left: 70px;
}

.col3{
    width: 27%;
}

.container{
    display: inline-block;
    font-size: 13px;
}

h2.footer-headline, i.footer-icon {
    font-size: 15px;
}

span.footer-text{
    padding-left: 10px;
}

p.copyright{
    display: inline-block;
    padding-top: 45px;
}

a.footer-link{
    text-decoration: none;
    color: #d7d7d7;
}

a.footer-link:hover{
    color: white;
}



